.icon{
    font-size: 100px;
}

h3{
    font-size: 100px;
}

button#up{
    background: none !important;
    font-size: 100px;
    border: none !important;
}

button#down {
    background: none !important;
    font-size: 100px;
    border: none !important;
}

button#reset{
    background: none !important;
    font-size: 100px;
    border: none !important;
}

.p-btn{
    width: 100%;
}

.wrapper{
    margin-top: 30px;
}